In [1]:
import pandas as pd
import matplotlib as plt

In [7]:
col_earn_df.dtypes

City                                                      object
State                                                     object
Meal, Inexpensive Restaurant                             float64
Meal for 2 People, Mid-Range Restaurant, Three-course    float64
McMeal at McDonalds (or Equivalent Combo Meal)           float64
                                                          ...
Expected State Tax Bracket                               float64
Expected Federal Tax Bracket                             float64
Federal + State Tax for Bracket                          float64
Net Expected Profit                                      float64
Net Expected Monthly Profit                              float64
Length: 68, dtype: object

In [8]:
col_earn_df['AverageMonthlyNetSalary(AfterTax)'].dtypes

dtype('float64')

In [9]:
col_earn_df['difference'] = col_earn_df['Net Expected Monthly Profit'] - col_earn_df['AverageMonthlyNetSalary(AfterTax)']

In [11]:
highest_df = col_earn_df.sort_values(by='difference', ascending=False)
top_5 = highest_df.head(30)
top_5_state = top_5['State']
print(top_5_state)

515         Washington
499         Washington
188         California
501         Washington
65          California
73          California
196         California
62          California
495         Washington
512         Washington
502         Washington
727     North Carolina
991         New Jersey
180         California
143         California
1029        New Jersey
1064           Wyoming
988         New Jersey
108         California
94          California
4             New York
503         Washington
785           Virginia
761           Virginia
764           Virginia
15            New York
768           Virginia
63          California
157         California
125         California
Name: State, dtype: object

In [12]:
top50_df = highest_df.head(50)

In [13]:
value_counts = top50_df['State'].value_counts()
print(value_counts)

California        24
Washington         8
New Jersey         6
Virginia           4
New York           3
North Carolina     1
Wyoming            1
Tennessee          1
Rhode Island       1
Maryland           1
Name: State, dtype: int64

In [14]:
lowest_df = col_earn_df.sort_values(by='difference', ascending=True)
bot_5 = lowest_df.head(30)
bot_5_state = bot_5['State']
print(bot_5_state)

694           Indiana
685              Ohio
702           Indiana
223          Illinois
604          Maryland
23           New York
312           Florida
291           Florida
476           Arizona
955              Iowa
269           Florida
1046    West Virginia
587          Colorado
351      Pennsylvania
385             Texas
896            Hawaii
333      Pennsylvania
713          Missouri
695           Indiana
937            Kansas
1042     North Dakota
600          Maryland
712          Missouri
279           Florida
901        New Mexico
519        Washington
897            Hawaii
1061          Montana
160        California
14           New York
Name: State, dtype: object

In [15]:
bot50_df = lowest_df.head(50)

In [16]:
lower_value_counts = bot50_df['State'].value_counts()
print(lower_value_counts)

Florida           5
Indiana           4
New York          3
Pennsylvania      3
Illinois          3
Maryland          2
Wisconsin         2
Iowa              2
Hawaii            2
Missouri          2
Ohio              2
Montana           2
California        2
Maine             1
Virginia          1
New Jersey        1
Utah              1
Oklahoma          1
South Carolina    1
Nevada            1
Kansas            1
Washington        1
New Mexico        1
North Dakota      1
Texas             1
Colorado          1
West Virginia     1
Arizona           1
Michigan          1
Name: State, dtype: int64